/*コメント*/

/*文字セット*/
@charset "utf-8";

/*cssを記述*/
/* どこの {なにを：どうする} */
/* h1タグの｛文字の色を:赤にする
            背景色を青にする
｝*/
h1 {
    color: red;
    background-color: blue;
}

/* IDの場合は　#　をつける */
#side_contact {
    color: rgb(207, 64, 20);
}

/* マウス(カーソル)を上に置いたとき：hover */
h1:hover {
    color: white;
}

/* -------------------------------------|
h2を好きな色に                           |
IDがside_bannerを好きな色・背景に         |
liにカーソルを置いたときに好きな色・背景に  |
-----------------------------------------|*/

h2{
    color: aqua;
}

#side_banner{
    color: blueviolet;
    background-color: aquamarine;
}

li:hover {
    color: darkgreen;
    background-color: chocolate;
}